* {
    margin: 0;
    padding: 0;
}

/* Estilos gerais */
body {
    margin: 0;
    width: 100%;
    flex-direction: column;
    color: #000;
    background-color: #f1dbdb;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    padding: 35px 0px;
    width: 100%;
    background-image: url('https://img.freepik.com/premium-vector/popcorn-flat-wallpaper_738849-1384.jpg');
    background-size: cover; /* Para cobrir todo o espaço disponível */
    background-position: center; /* Para centralizar a imagem */
    background-repeat: no-repeat; /* Para evitar a repetição da imagem */   
}

p {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    margin-top: 0; /* Remove a margem superior padrão */
    text-align: center; /* Centraliza o texto */
    color: #111011;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: -40px; /* Ajusta a margem superior para subir os cards */
}

.poster-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px; /* Adiciona um espaçamento na parte inferior dos cards */
}

/* Estilos para os cartões */
.content__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px; /* Reduz a margem entre os cards */
    padding: 20px;
    background-color: #992e2e;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content__card img {
    width: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.title {
    font-family: Arial, sans-serif;
    color: #d49d9d;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.releaseDate {
    font-family: Arial, sans-serif;
    color: #f0dbdb;
    font-size: 14px;
    font-weight: lighter;
}

/* Estilos para a página de detalhes */
.back_card {
    display: flex;
    flex-direction: row; /* Alterado para row para colocar o texto ao lado */
    align-items: center; /* Alinha verticalmente os itens */
    margin: 20px;
    padding: 20px;
    background-color: #992e2e;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.back_card img {
    width: 200px;
    height: auto; /* Adicionado para manter a proporção da imagem */
    border-radius: 8px;
    margin-right: 20px; /* Adiciona um espaçamento entre a imagem e o texto */
}

.back_title {
    font-family: Arial, sans-serif;
    color: #aa6464;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative; /* Para permitir que o link "Voltar" seja posicionado em relação a este elemento */
}

.back_info {
    display: flex;
    flex-direction: column; /* Empilha os elementos verticalmente */
    color: #f0dbdb;
}

.back_card .overview {
    font-family: Arial, sans-serif;
    color: rgb(240, 210, 210);
    font-size: 20px;
    margin-bottom: 10px;
}

.back_card .releaseDate {
    font-family: Arial, sans-serif;
    color: #f0dbdb;
    font-size: 12px;
    font-weight: lighter;
}

.back_link_container {
    position: absolute; /* Para posicionar absolutamente em relação ao elemento pai */
    top: 30px; /* Ajuste conforme necessário para a distância do topo */
    right: 30px; /* Ajuste conforme necessário para a distância da direita */
  }
  
  .link_back {
    color: white;
    text-decoration: none;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    width: 100%;
    background-color: #551717;
}

.social-links {
    list-style-type: none;
    padding: 0;
    color: rgb(221, 191, 191);
}

.social-links li {
    display: inline-block;
    margin-right: 10px;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links a {
    text-decoration: none; /* Remove o sublinhado */
    color: rgb(240, 210, 210);
}
